# db url
DATABASE_URL=***
DIRECT_URL=***

# clerk keys
CLERK_WEBHOOK_SIGNING_SECRET=***
CLERK_SECRET_KEY=***
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=***

# twilio keys
TWILIO_ACCOUNT_SID=***
TWILIO_AUTH_TOKEN=***
TWILIO_MESSAGING_SERVICE_SID=***
TWILIO_PHONE_NUMBER=***


# api password
API_KEY=***


# public keys
